{% extends 'layouts/blank.html' %}

{% load static %}

{% block title %} Chats {% endblock %}

{% block content %}

<div class="w-full flex flex-col md:flex-row gap-1 px-1 md:px-2">

    <div class="w-full md:w-[5%] my-1 md:my-1">
        {% include 'chats/chat_type.html' %}
    </div>

    <div class="flex w-full md:flex-row gap-1">

        <div class="w-[30%] md:w-[25%] md:my-1">
            {% include 'chats/chat_names.html' %}
        </div>

        <div class="w-[70%] md:w-[75%] md:my-1 ml-auto">
            {% include 'chats/chat_message_base.html' %}
        </div>

    </div>

</div>


<style>
    [x-cloak] {
        display: none !important;
    }

    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .hide-scrollbar {
      scrollbar-width: none;
    }

</style>

{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('upload', {
            visible: false,
            status: 'idle',
            fileName: '',
            fileUrl: '',
            fileType: '',
            message: '',

            open(name) {
                console.log("Upload modal opening: ", name)
                this.visible = true
                this.status = 'uploading'
                this.fileName = name
                this.message = ''
            },

            uploaded({ url, type }) {
                this.status = 'done'
                this.fileUrl = url
                this.fileType = type
            },

            failed() {
                this.status = 'error'
            },

            cancel() {
                this.reset()
            },

            submit() {
                document.getElementById('file_url').value = this.fileUrl
                document.getElementById('file_type').value = this.fileType
                document.getElementById('file_name').value = this.fileName
                document.getElementById('file_message').value = this.message

                htmx.trigger('#chat_file_form', 'fileReady')
                this.reset()
            },

            reset() {
                this.visible = false
                this.status = 'idle'
                this.fileName = ''
                this.fileUrl = ''
                this.fileType = ''
                this.message = ''
            }
        })
    })


    function searchModal() {
        return {
            search: false,
            username: "",

            openSearch() {
                this.search = true
                this.$nextTick(() => {
                    document.body.classList.add("overflow-hidden")
                })
            },

            closeSearch() {
                this.search = false
                this.username = ""
                document.body.classList.remove("overflow-hidden")
            },

            startChat() {
                const name = this.username.trim()
                if (!name) return

                window.location.href = `/chat/create/${name}/`

                this.closeSearch()
            }
        }
    }

    function groupViewModal() {
        return {
            view: false,

            openView() {
                this.view = true
            },

            closeView() {
                this.view = false
            }
        }
    }

    function groupModal() {
        return {
            showModal: false,
            step: 1,

            groupName: '',
            description: '',

            image: null,
            preview: null,
            image_url: null,

            members: [],
            membersInput: '',

            close() {
                this.showModal = false
                this.step = 1
                this.groupName = ''
                this.description = ''
                this.image = null
                this.preview = null
                this.image_url = null
                this.members = []
                this.membersInput = ''
            },

            async uploadImage() {
                if (!this.image) return;

                if (!this.image.type.startsWith("image/")) {
                    alert("Only images allowed");
                    return;
                }

                try {
                    const result = await uploadToCloudinary(this.image, "group_avatars");
                    this.image_url = result.secure_url;
                } catch (err) {
                    alert("Upload failed");
                    console.error(err);
                }
            },

            onImageChange(event) {
                const file = event.target.files[0];
                if (!file) return;

                if (this.preview) {
                    URL.revokeObjectURL(this.preview);
                }

                this.image = file;
                this.preview = URL.createObjectURL(file);

                this.uploadImage();
            },

            addMember() {
                const name = this.membersInput.trim()
                if (name && !this.members.includes(name)) {
                    this.members.push(name)
                }
                this.membersInput = ''
            },

            submitGroup() {
                if (!this.groupName.trim()) {
                    alert("Group name is required")
                    return
                }

                const slug = this.groupName
                    .trim()
                    .toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^a-z0-9-]/g, '')

                const formData = new FormData()
                formData.append('group_name', slug)
                formData.append('description', this.description)
                if (this.image){
                    formData.append('image_url', this.image_url)
                }
                formData.append('members', JSON.stringify(this.members))

                fetch("{% url 'create_group' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: formData
                })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        this.close()
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
        }
    }

    async function handleFileUpload(input) {
        const file = input.files[0]
        if (!file) return

        const maxSize = 20 * 1024 * 1024
        if (file.size > maxSize) {
            alert("Max file size is 20MB")
            input.value = ""
            return
        }

        const store = Alpine.store("upload")
        store.open(file.name)

        try {
            const result = await uploadToCloudinary(file, "chat_files")
            const type = detectFileType(file, result)

            store.uploaded({
                url: result.secure_url,
                type: type
            })

        } catch (err) {
            store.failed()
            console.error(err)
        } finally {
            input.value = ""
        }
    }

    function scrollToBottom(time=0){
        setTimeout(function() {
        const container = document.getElementById('chat_container');
        container.scrollTop = container.scrollHeight;
        }, time);
    }

    scrollToBottom()

</script>
{% endblock %}
