{% extends 'layouts/box.html' %}

{% load static %}

{% block title %} Settings {% endblock %}

{% block content %}
    <h1 class="mb-8">Account Settings</h1>

    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500">
            <tbody class="divide-y">

                <tr class="grid grid-cols-1 md:table-row">
                    <th class="pt-4 pb-1 md:py-4 text-base font-bold text-gray-900">
                        Email address
                    </th>

                    <td id="email-address" class="md:px-6 pb-2 md:pb-0">
                        {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
                    </td>

                    <td class="md:px-6 pb-4 md:pb-0 flex gap-4 md:justify-end">
                        <a class="cursor-pointer text-blue-600 hover:text-blue-700"
                           hx-get="{% url 'profile_email_change' %}"
                           hx-target="#email-address"
                           hx-swap="innerHTML">
                            <img src="{% static 'images/edit_icon.svg' %}" class="w-4 h-4"
                                 alt="Edit" title="Edit" />
                        </a>
                    </td>
                </tr>

                <tr class="grid grid-cols-1 md:table-row">
                    <th class="md:hidden"></th>

                    <td class="md:px-6 py-2">
                        {% if user.emailaddress_set.first.verified %}
                            <span class="text-green-500 font-medium">Verified</span>
                        {% else %}
                            <span class="text-amber-500 font-medium">Not verified</span>
                        {% endif %}
                    </td>

                    <td class="md:px-6 pb-4 flex md:justify-end">
                        {% if not user.emailaddress_set.first.verified %}
                        <a href="{% url 'profile_verify' %}"
                           class="text-blue-600 hover:text-blue-700">
                            <img src="{% static 'images/verify_icon.svg' %}" class="w-4 h-4" alt="Verify" title="Verify" />
                        </a>
                        {% endif %}
                    </td>
                </tr>

                <tr class="grid grid-cols-1 md:table-row">
                    <th class="py-4 text-base font-bold text-gray-900">
                        Delete Account
                    </th>

                    <td class="md:px-6 pb-2 text-red-500">
                        Once deleted, account is gone. Forever.
                    </td>

                    <td class="md:px-6 pb-4 flex md:justify-end">
                        <a href="{% url 'profile_delete' %}"
                           class="text-red-600 hover:text-red-700">
                            <img src="{% static 'images/delete_icon.svg' %}" class="w-4 h-4" alt="Delete" title="Delete account" />
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

{% endblock %}